<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Comunitária</title>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css">

</head>
<body>
    <header>
        <h1>Bem-vindo à Biblioteca Comunitária</h1>
    </header>

    <nav>
        <div class="menu-botoes">
            <button onclick="window.location.href='/views/cadastrarUsuario.html'">Novo Usuário</button>
            <button onclick="window.location.href='/views/cadastrarLivro.html'">Doar Livro</button>
            <button onclick="window.location.href='/views/pegarLivro.html'">Pegar Livro</button>
            <button onclick="window.location.href='/views/devolverLivro.html'">Devolver Livro</button>
        </div>
    </nav>

    <footer>
        <p>&copy; 2024 Biblioteca Comunitária</p>
    </footer>
</body>
</html>
